[push]
	default = current
[user]
	name = ksudate
	email = ksudate@outlook.jp
	signingkey = 38FB3E27C6A0EF64
[core]
	autoCRLF = false
[ghq]
	root = ~/go/src
[alias]
	a = add
	b = branch
	c = commit -m
	d = diff
	s = status
	l = log
        pp = pull --prune
	sw = switch
        sc = sw -c
        rs = restore
[gpg]
	program = gpg
[commit]
	gpgsign = true
[tag]
	gpgsign = true
