[push]
	default = current
[user]
	name = tmrekk121
	email = tmrekk121@outlook.jp
[core]
	autoCRLF = false
[ghq]
	root = ~/go/src
[alias]
	a = add
	b = branch
	c = commit -m
	d = diff
	s = status
	l = log
	co = checkout
        cb = co -b
